<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>607153819806-qor4f0plmabtivvcuj768devi70h3bvp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.607153819806-qor4f0plmabtivvcuj768devi70h3bvp</string>
	<key>API_KEY</key>
	<string>AIzaSyCxfJDNu6yI3S4kOahjpPiQ6QrtUjnS_xg</string>
	<key>GCM_SENDER_ID</key>
	<string>607153819806</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.oregonstate.saechaok.wasteagram</string>
	<key>PROJECT_ID</key>
	<string>wasteagram-d5bc5</string>
	<key>STORAGE_BUCKET</key>
	<string>wasteagram-d5bc5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:607153819806:ios:efc8f6fb7cd1ae0e542b8f</string>
</dict>
</plist>